<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>The time is {{ time }}</h2>
    <p>A beacon team project
    </p>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "HelloWorld",
  data: function() {
    return {
      time: 'wayne'
    };
  },
  props: {
    msg: String
  },
  created: function() {
    axios
      .get(
        `https://dm9l11s9q5.execute-api.ap-southeast-2.amazonaws.com/Prod/hello/`
      )
      .then(response => {
        // JSON responses are automatically parsed.
        this.time = response.data.message
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
